#i{
	background-image: url(image/lvbiaoti.png);
	background-repeat: ;
	color: white;

}
li{
	color: gray;
	background-image: url(image/baibiaoti.png);
	text-align: center;
	margin: 10px;
	line-height: 2.3em;
}
body{
	background-image: url(image/bj.png);
	background-repeat: no-repeat;
}
ul{
	margin-left: -35px;
	list-style-type: none;
	width: 190px;
}