
ul{
	padding-top:1em;
	list-style-type: none;
	list-style-position: inside;
	margin:0px 30px 0px 0px ;
}
li{
	background-image: url(image/baibiaoti.png);
	background-repeat: no-repeat;
	text-align: center;
	line-height: 2.3em;
	color: gray;
	margin: 0px 0px;

}
#first{
	background-image: url(image/lvbiaoti.png);
	color: white;

}
div{
	width: 250px;
	height: 380px;
	background-image: url(image/bj.png);
	background-repeat: no-repeat;
}