body{
			margin-left: 0px;

		}
		#logo{
			float: left;
			margin-left: 20px;

			
		}
		#logo img:hover{
			opacity: 0.5;
		}
		#logo img{
			width: 100px;
			height:100px;
			border:3px double #33CCCC;
			
		}
		.nav{
			
			height: 115px;
			width: 1525px;
			overflow: hidden;
		}
		
		#nav{
			float: left;
			margin-left: 10px;
			margin-top: 20px;
		}
		#login{
			float: right;
			height: 113px;
			width: 238px;
			color: #CCFF66;
			
			margin-right: 20px;

		}
		#login input{
			border:1px solid gray;

		}
		.nav li{
			float: left;
			margin-left: 5em;
			line-height: 2em;
			font-family: 'Times New Roman';
			font-size: 1.5em;
			

		}
		.nav li a{
			text-decoration: none;
			color:gray;

		}
		.nav li a:hover{
			
			color: #ffffcc;

		}
		.nav ul{
			
			overflow: hidden;
			
			list-style-type: none;

		}
		.banner{
			clear: both;
			background-image: url(../images/banner33.jpg);
			background-size: 1525px 600px;
			width: 1525px;
			height: 600px;
			border:1px solid black;
		}
		

		
		#searchdiv{
			float: right;
			margin-top: 15px;
			margin-right: 20px;
			opacity: 0.8;
			margin-bottom: -50px;

		}
		#search{
			position: relative;
			top:-8px;

		}
		#searchdiv:hover{
			opacity: 1;
		}
		#searchdiv img{
			width: 25px;
			height: 25px;
			opacity: 0.5;
		}
		#searchdiv img:hover{
			opacity: 0.8;
		}
		#bread{
			width: 300px;
			opacity: 0.5;
			font-family: 'Times New Roman';
			position: relative;
			top: 20px;
			left: 30px;

		}
		#bread a{
			text-decoration: none;
			color: orange;
			font-size: 1.3em;
		}
		#bread a:hover{
			color: #33cc33;
			opacity: 0.9;
		}
		.footer{
			width: 1522px;
			height: 150px;
			border:2px solid #cc99ff;
			background-image: url(../images/footerbackground.png);
		}
		#zanzhu{
			position: relative;
			left: 650px;
			top: 20px;
		}
		.footer p{
			text-align: center;
			position: relative;
			top: 30px;
			font-size: 1.5em;
			font-family: 'Times New Roman';
			color: white;
		}
		.content{
			width: 1523px;
			height: 600px;
			position: relative;
			top: 20px;
			
		}
		.content img{
			
			width: 350px;
			height: 250px;
			opacity: 0.7;
		}
		.content img:hover{
			opacity: 1;
			border:2px double blue;
			position: relative;
			right: 2px;
			bottom: 2px;
		}
		.pp{
			text-align: center;
			font-family: 'Times New Roman';
			color: #7FFFD4;
			
		}

		#p1{
			width: 600px;
			font-size: 2em;
			position: relative;
			left: 500px;
		}
		#juti{
			width: 900px;
			float: left;
			margin: 40px;
			font-family: 'Times New Roman';
			color: white;
		}
		#img{
			width: 350px;
			height: 250px;
			float: left;
			margin: 40px;
		}
		.comment{
			width: 1523px;
			height: 300px;

			
			/*border:1px solid red;*/
			background-image: url(../images/importantbackground.png);
		}
		.commentdiv{
			width: 600px;
			height: 250px;
			float: left;
			margin-left: 100px;
			margin-top: 25px;
			background-color: white;
			border:1px solid blue;

		}
		.commentdiv ul{
			list-style-type: none;
		}
		.commentdiv li{
			margin: 18px;
			color: #99ff99;
		}
		.commentdiv li a{
			text-decoration: none;
			color: #33ffff;
		}
		.commentdiv li a:hover{
			opacity: 0.6;
			color: #0000ff;
		}
		.commentdiv span{
			float: right;
			font-size: 0.8em;
			color: gray;
			opacity: 0.7;
		}
		.commentdiv input{
			position: relative;
			left: 270px;
			top: 219px;

		}
		.commentdiv{
			color: gray;
		}
		/**{
			border:1px solid red;
		}*/